

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

img {
    margin: 10px;
}